@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
